<header>
  <div class="navbar">
    <div class="navbar-left">
      <a href="/">
        <img class="logo" src="/public/img/cnodejs_light.svg" alt="">
      </a>
    </div>
    <div class="navbar-right">
      <ul>
        {{if user}}
        <li class="navbar-list">
          <span class="userName">hello~ {{user.nickname}}</span>
        </li>
        <li class="navbar-list">
          <a href="/">首页</a>
        </li>
        <li class="navbar-list">
          <a href="/publish">发表话题</a>
        </li>
        <li class="navbar-list ">
          <a href="/userInfo">个人资料</a>
        </li>
        <li class="navbar-list ">
          <a href="/logout">退出</a>
        </li>
        {{else}}
        <li class="navbar-list">
          <a href="/login">登录</a>
        </li>
        <li class="navbar-list">
          <a href="/register">注册</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</header>